body {
    margin: 20px;
}

.dvt {
    width: 700px;
}

.medtd {
    width: 350px;
}

td {
    vertical-align: middle;
}

#chk-post-discharge {
    margin-left: 10px;
}

#intro-screen, #confirm-screen, #config-screen {
    align-self: center;
    width: 700px;
}

.screen, #meds {
    display: none;
}

#config-text {
    width: 660px;
    height: 200px;
}