body {
    margin: 20px;
}

.dvt {
    width: 700px;
}

.medtd {
    width: 350px;
}

td {
    vertical-align: middle;
}

#chk-post-discharge {
    margin-left: 10px;
}

#intro-screen, #confirm-screen {
    align-self: center;
    width: 700px;
}

#intro-screen, #medrec-screen, #review-screen, #confirm-screen, #meds {
    display: none;
}